<div class=" d-flex flex-lg-row flex-column gap-3 justify-content-center container-sm">

  <mat-card class="col-lg-4 col-12 mt-5 p-0">

    <div class="d-flex align-items-center ">
      <div style="background-color: #019588;"
        class=" w-25 h-100 py-5  d-flex align-items-center justify-content-center">
        <mat-icon class="text-light fs-3 ">person</mat-icon>

      </div>
      <mat-card-content routerLink="/allCandidates">
        <h2 style="color: #019588;">
          CANDIDATES
        </h2>

        <p class="fs-3">{{candidatesCount}}</p>
      </mat-card-content>
    </div>
  </mat-card>


  <mat-card class="col-lg-4 col-12 mt-5 p-0">

    <div class="d-flex align-items-center ">
      <div class=" w-25 h-100 pb-5 pt-5 d-flex align-items-center justify-content-center bg-info">
        <mat-icon class="text-light fs-3 ">work</mat-icon>

      </div>
      <mat-card-content routerLink="/allJobs">
        <h2 class="text-info">
          JOBS
        </h2>

        <p class="fs-3">{{jobsCount}}</p>
      </mat-card-content>
    </div>
  </mat-card>

  <!-- <mat-card class="col-lg-4 col-12 mt-5 p-0">

    <div class="d-flex align-items-center ">
      <div  class=" w-25 h-100 pb-5 pt-5 d-flex align-items-center justify-content-center bg-warning">
        <mat-icon class="text-light fs-3 ">file_copy</mat-icon>

      </div>
      <mat-card-content>
        <h2 class="text-warning">
          QUESTIONS
        </h2>

        <p class="fs-3">34</p>
      </mat-card-content>
    </div>
  </mat-card> -->
</div>